# LangChain Core
langchain
langchain-core

# Hugging Face Integration
langchain-huggingface
transformers
huggingface-hub
langchain_openai
langchain_anthropic

# Environment Variable Management
python-dotenv